<nav
  class="fixed bg-secondary max-w-[90%] rounded-full top-4 left-1/2 -translate-x-1/2 px-4 p-2 flex justify-between items-center container text-text"
>
  <span class="text-lg sm:text-2xl font-bold px-4 py-2"
    ><a href="/dashboard">Random Chat</a></span
  >
  <ul class="flex gap-4">
    <li class="">
      <a
        href="/log-out"
        class="bg-accent/50 px-4 py-2 relative rounded-full group flex flex-col justify-center items-center"
      >
        <!-- Added before: pseudo-element to reserve bold width -->
        <span class="flex flex-col items-center justify-center font-semibold">
          Log Out
        </span>
      </a>
    </li>
  </ul>
</nav>
