<div class="fixed mx-auto right-8 bottom-8 z-50">
  <div class="rounded-full bg-secondary shadow-lg">
    <a href="/messages/new">
      <span class="material-symbols-outlined p-4"> post_add </span>
    </a>
  </div>
</div>
