<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    Hello World <%= locals.views %> <% if (locals.user) { %>
    <p>Logged in as: <%= locals.user.email %></p>
    <a href="/logout">Logout</a>
    <% } %>
  </body>
</html> -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include('partials/errors') %>
    <h1 class="bg-amber-600">Welcome Back, <%= currentUser.username %></h1>
    <p><a href="/messages/new">Create New Message</a></p>
    <a href="/log-out">Log Out</a>
  </body>
</html>
