<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <%- include('partials/errors') %>
    <h1>Sign Up</h1>
    <form action="/sign-up" method="POST">
      <label for="first_name">First Name:</label>
      <input type="text" name="first_name" id="first_name" /><br />
      <label for="last_name">Last Name:</label>
      <input type="text" name="last_name" id="last_name" /><br />
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" /><br />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" /><br />
      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
      /><br />
      <input type="submit" value="Sign Up" />
    </form>
  </body>
</html>
