@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
@import "tailwindcss";

@theme {
  /* Your theme customizations */
  --color-primary: rgb(249, 247, 247);
  --color-secondary: rgb(219, 226, 239);
  --color-accent: rgb(63, 114, 175);
  --color-text: rgb(17, 45, 78);
  --font-family-headings: "Anonymous Pro", "Roboto", system-ui, sans-serif;
}
